@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(12, 10, 15),
rgb(12, 10, 15));
}

html, body {
  height: 100%;
}

.stars {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
}

.stars:before,
.stars:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:
    radial-gradient(2px 2px at 20px 30px, white, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, white, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 450px 280px, white, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 500px 500px;
  opacity: 0.3;
  animation: twinkle 8s linear infinite;
}

.stars:after {
  animation: twinkle 12s linear infinite;
  animation-delay: 4s;
}

@keyframes twinkle {
  0% { background-position: 0 0; }
  100% { background-position: 500px 500px; }
}


