@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(12, 10, 15),
rgb(12, 10, 15));
}

html, body {
  height: 100%;
}

.stars {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
}

.stars:before,
.stars:after {
  display: none;
}

@keyframes twinkle {
  0% { transform: translateX(0) translateY(0); }
  100% { transform: translateX(-200px) translateY(-200px); }
}

.stars-layer {
  will-change: transform;
  transform: translateZ(0); 
}

.header {
  backdrop-filter: blur(10px); 
}


